:root {
    --main_theme_color: #66FCF1;
    --text_color: #FFF;
    --background_color: #252740;
}


*{
    margin:2;
    padding: 2;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--background_color);
    color: var(--text_color);
}

html{
    scroll-behavior: smooth;
}

#header{
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 280px;
    height: 60px;
}
   

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--text_color);
    text-decoration: none;
    font-size: 18;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 40%;
    height: 3px;
    background: var(--main_theme_color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 10px;
    font-size: 60px;
}

.header-text h1 span{
    color: var(--main_theme_color);
    transform: translate(-50%,-50%);
    text-shadow: 1px 1px 1px #000000,
                2px 2px 1px #000000,
                3px 3px 1px #000000,
                4px 4px 1px #000000,
                5px 5px 1px #000000,
                6px 6px 1px #000000,
                7px 7px 1px #000000,
                8px 8px 1px #000000,
                1px 9px 1px #000000,
                1px 10px 1px #000000,
                1px 11px 1px #000000,
                1px 13px 1px #000000,
                1px 14px 1px #000000,
                1px 15px 1px #000000,
                1px 16px 1px #000000,
                1px 17px 1px #000000,
                1px 18px 1px #000000,
                1px 19px 1px #000000,
                1px 20px 1px #000000,
                 1px 20px 40px rgba(0, 0, 0, 0.6);
}

/*-----------------about-----------------*/
#about{
    padding: 80px 0;
    color: #FFF;
}

h1.sub-title {
    color: var(--main_theme_color); /* Adjust the color to your preference */
    text-shadow: 1px 1px 1px #000000,
                 2px 2px 1px #000000,
                 3px 3px 1px #000000,
                 4px 4px 1px #000000,
                 5px 5px 1px #000000,
                 6px 6px 1px #000000,
                 7px 7px 1px #000000,
                 8px 8px 1px #000000,
                 1px 9px 1px #000000,
                 1px 10px 1px #000000,
                 1px 11px 1px #000000,
                 1px 13px 1px #000000,
                 1px 14px 1px #000000,
                 1px 15px 1px #000000,
                 1px 16px 1px #000000,
                 1px 17px 1px #000000,
                 1px 18px 1px #000000,
                 1px 19px 1px #000000,
                 1px 20px 1px #000000,
                 1px 21px 1px #000000,
                 1px 23px 1px #000000,
                 1px 24px 1px #000000,
                 1px 25px 1px #000000,
                 1px 20px 40px rgba(0, 0, 0, 0.6);
}
  
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.fa-solid.fa-angles-right{
    font-size: 12px;
    color: var(--main_theme_color);
    margin-right: 5px;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    margin-top: 35px;
    width: 90%;

    border-radius: 15px;
}

.about-col-2{
    flex-basis: 68%;
}

/* ------ This is the css for all titles other than home pg------ */
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:  var(--text_color)
    
}
/* -------------------------------------------------------------- */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right:50px ;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after{
    
    content: '';
    width: 0;
    height: 3px;
    background: var(--main_theme_color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{
    color:  #C9C9C9;
    font-size: 18px;
    font-weight: bold;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#education img {
    width: 180px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    float: right;
}

#experience img {
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
   
}

/* ----------------resume-------------- */
#resume {
    padding: 50px 0;
  }
  
  .resume-container {
    text-align: left;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 850px; /* Set a maximum width for better control */
  }
  
  .resume {
    margin-top: 20px;
    display: block; /* Use block display to ensure proper alignment */
  }
  
  .resume-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Adjust the color to your preference */
    margin-top: 20px;
  }


#services{
    padding: 30px 0;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
  
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.3s, transform 0.3s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 25px;
    display: inline-block;
}

.services-list div:hover{
    background: var(--main_theme_color);
    color: #000000;
    transform: translate3d(-10px,-10px,-10px);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    color: #000000;
    background-color: var(--main_theme_color);
  }
  

/* 
--------------portfolio--------------- */

#projects{
    padding:50px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}


.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transforom 0.2s;
}

.layer{
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    transition: height 0.2s;
    width: 100%;
    height: 0;
    background: var(--background_color);
    border-radius: 10px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--background_color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--background_color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer{
    height: 100%;
    
}

.work.initial .layer {
    height: 100%;
}

.work .initial-overlay {
    height: 100%;
    transition: height 0.2s;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--main_theme_color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text_color);
    transition: 0.2s;
}

.btn:hover{
    background: var(--main_theme_color);
    color: #000000;
}

/* ------------------contact------------- */
.contact-left{
    flex-basis: 35%;
    

}
.contact-right{
    flex-basis: 60%;

}

.contact-left p .fa-solid.fa-paper-plane {
    margin-top: 270px;
  }
  

.contact-left p i{
    margin-top: 10px;
    color:var(--main_theme_color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 450px;
    text-align: right;
  }
  
  .social-icons i {
    font-size: rem;
    margin: 0 8px;
  }
  

.social-icons a{
    margin-top: 70px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--main_theme_color);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: none;
}

.btn.btn2:hover{
    display: inline-block;
    background:   var(--main_theme_color);
    color: #000000;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    margin-top: 65px;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 14px 0;
    color: var(--text_color);
    font-size: 16px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    color: #000000;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.footer i{
    color: var(--main_theme_color);
}

/* ---------------------transition-code-------------- */
.transition-fade-out {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  
  .transition-fade.active {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
