:root {
    --blue: #4C39FB;
    --white: #fff;
}


*{
    margin:2;
    padding: 2;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: var(--white);
}

html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 280px;
    height: 60px;
}
   

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 18;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 40%;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 10px;
    font-size: 60px;
}

.header-text h1 span{
    color: var(--blue);
}

/*-----------------about-----------------*/
#about{
    padding: 80px 0;
    color: #ababab
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    margin-top: 35px;
    width: 90%;

    border-radius: 15px;
}

.about-col-2{
    flex-basis: 68%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:var(--white)
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after{
    
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{

    color: var(--blue);
    font-size: 14px;
    
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------------resume-------------- */
#resume {
    padding: 50px 0;
  }
  
  .resume-container {
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 850px; /* Set a maximum width for better control */
  }
  
  .resume {
    margin-top: 20px;
    display: block; /* Use block display to ensure proper alignment */
  }
  
  .resume-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Adjust the color to your preference */
    margin-top: 20px;
  }


#services{
    padding: 30px 0;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
  
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.3s, transform 0.3s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 25px;
    display: inline-block;
}

.services-list div:hover{
    background: var(--blue);
    transform: translate3d(-10px,-10px,-10px);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--blue);
  }
  

/* 
--------------portfolio--------------- */



.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--blue);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s;
}

.btn:hover{
    background: var(--blue);
}

/* ------------------contact------------- */
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;

}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    margin-top: 10px;
    color:var(--blue);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 100px;
    text-align: right;
  }
  
  .social-icons i {
    font-size: 5rem;
    margin: 0 30px;
  }
  

.social-icons a{
    margin-top: 70px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--blue);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: none;
}

.btn.btn2:hover{
    display: inline-block;
    background: var(--blue);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    margin-top: 65px;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 14px 0;
    color: var(--white);
    font-size: 16px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.footer i{
    color: var(--blue);
}


/* ---------------- css for small screens ---------------------- */


