.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left  {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 50px;
    background: linear-gradient(264deg,#fd267d, #ff7854);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    min-width: 430px;
    color: #fff;
    font-size: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color:#fff;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    width: 650px;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    background: #32323c;
    font-size: 20px;
    font-family: Outfit;
    color   : #fff;
}

.contact-right textarea {
    width: 650px;
    height: 200px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    background: #32323c;
    font-size: 20px;
    font-family: Outfit;
    color: #fff;
}

.contact-submit {
    border: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(264deg,#fd267d, #ff7854);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-submit:hover {
    transform: scale(1.10);
    transition: 0.2s;
    background: linear-gradient(264deg,#fd267d, #ff7854);
}

/* Default state: hide icons */
.nav-mob-open {
    display: none;
}

.nav-mob-close {
    display: none;
}


@media(max-width: 1350px) and (min-width: 610px) {
  .contact{
    gap : 50px;
    margin: 50px 70px;
    align-items: start;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 45px;
  }

  .contact-left p {
    font-size: 18px;
  }

  .contact-detail {
    font-size: 14px;
  }

  .contact-right label {
    font-size: 18px;
  }

  .contact-right input {
    font-size: 20px;
    width: 100%;
  }

  .contact-right textarea {
    font-size: 20px;
    width: 95%;
  }

  .contact-submit {
    font-size: 20px;
    padding: 15px 40px;
  }
}

@media(max-width: 610px) {
    
    .contact{
      gap : 50px;
      margin: 50px 70px;
      align-items: start;
    }
  
    .contact-title h1 {
      padding: 0;
      font-size: 40px;
      font-weight: 600;
    }
  
    .contact-section {
      flex-direction: column;
    }
    .contact-left h1 {
      font-size: 30px;
    }
  
    .contact-left p {
        font-size: 18px;
        width: 100px; /* Ensures the paragraph does not exceed the width of its container */
      }
      
  
    .contact-detail {
      font-size: 14px;
    }
  
    .contact-right label {
      font-size: 18px;
    }
  
    .contact-right input {
      font-size: 20px;
      width: 100%;
    }
  
    .contact-right textarea {
      font-size: 20px;
      width: 95%;
    }
  
    .contact-submit {
      font-size: 20px;
      padding: 15px 40px;
    }
  }
  
  