nav{
    width: 100%; /* width of the nav bar */
    background:  transparent; /* background color */
    color: white; /* text color */
    padding: 4px 0px; /* padding */
    position: fixed; /* nav bar will be fixed to the top */
    top: 0; /* nav bar will be fixed to the top at 0 */
    left: 0; /* nav bar will be fixed to the left at 0 */
    display: flex; /* displays content side by side */
    align-items: center; /* aligns content vertically */
    justify-content: space-between; /* aligns content horizontally */
    z-index: 10; /* z-index is used to stack elements on top of each other */
    padding-top: 20px; /* padding */
 }

.logo-container{
    display: flex; /* displays content side by side */
    align-items: center; /* aligns content vertically */
    margin-left: -100px; /* margin */
    font-size: 15px;
}

.logo {
    width : 30px; /* width of the logo */
}

nav ul {
    margin-right: -125px;
}

nav ul li {
    display: inline-block; /* displays content side by side*/
    margin: 5px 20px; /* margin */
    font-size: 15px; 
    font-weight: 500;
}

nav ul li:hover {
    color: #e4405f; /* color on hover */
    font-weight: bold;
    transform: scale(1.15);
    font-weight: 600;
}

.name {
    margin-left: 10px;
    height: auto;
}

.nav-menu li {
    gap: 5px;
    cursor: pointer;
}

@media(max-width: 768px) {
    .navbar {
        display: none;
    }
    .logo-container {
        display: none;
    }
}