@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* This is the css for the entire app */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* css for the body*/
body{
  background: #F5F5F5;
}

/* css for a tag */
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


.btn{
  background: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width : 20px;
  margin-left: 10px;
}


.container {
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 1; /* Ensure components are above the video */
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
object-fit: cover;
  z-index: -1;
}