.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
  

.mywork-title {
    position: relative;
}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
  }

  .project-card {
    position: relative;
    width: 419px;
    height: 250px;
    overflow: hidden;
  }
  .project-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }

  .project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    padding: 20px;
  }